@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

h1 {
    @apply text-5xl;
}

.animate-scale-up {
    animation: scale-up 0.5s;
}

@keyframes scale-up {
    from {
        scale: 0.8;
    }
    to {
        scale: 1;
    }
}